.button {
  transition-duration: 0.4s;
  border-radius: 12px;
  background-color: #a3a3a3;
  margin-left: 10px;
  color: black;
}

.button:hover {
  background-color: #ffffffc2;
  color: rgb(0, 0, 0);
}

.myDiv {
  margin: 40vh 30vw;
  text-align: center;
  vertical-align: middle;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 12px;
}
.quote {
  background-color: #ffffff;
}
.quote-author {
  background-color: #ffffff;
  margin-right: 5vw;
  position: relative;
  text-align: right;
  right: 0px;
}
